.App {
  text-align: center;
  background-color: #121212;
}
.StressCalcAppPage{
  text-align: center;
  background-color: #3dd2dc;
  height: 110%;
  margin-bottom: 0;
}

.home-contents{
  background-color:#121212;
  position: absolute;
  top: 25vh;
  bottom: 50%;
}

.App-header{
  display: flex;
  align-items: center;
}

a{
	color: #D7CAF5;
}

a:hover{
	color: white;
}

.main-page-p {
  font-size: 3.5vh;
  color: white;
}

.selfie{
	max-width:20vh;
	height:90%;
	clip-path: circle();
	border-radius: 999px;
}

.home-intro-box{
	transform: translate(0%, -25%);
}

h2{
	color: #D7CAF5;
}

.notfound{
  color:white;
  font-size: 8rem;
}

.main-page-p:hover {
  font-size: 3.5vh;
  color: white;
 
}

.main-page-sub-p{

  font-size: 2.7vh;
  color: #D7CAF5;
  margin: 2rem 2rem;

}

.main-page-sub-p-stresscalc{
   font-size: 6vmin;
   color: #797979;
   margin-top: 0rem !important;
}

.stresscalc-logo-and-header{

    display: inline-flex;
    flex-direction: row;

}

.greeting-text{
  margin: 4vmin 3vmin;
  font-size: 10vh;
  color: #8157E6;
}

.social-box{
  font-size: 2vh;
  background-color: #181818;
  width: 100%;
  position: fixed;
  bottom: 0;

}

.navbar-style{
    background-color: #181818 !important;
    width: 100%;
    margin-top: 0px;   
}

.page-title{
   margin: 4vmin 3vmin;
  font-size: 6vh;
  color: #8157E6;
}

.page-title-stresscalc{
    margin: 1vmin 1vmin;
    font-size: 12vmin;
    color: white;
    font-weight: bold;
}

.stresscalc-screenshots{
   margin: 0.5rem;
   width: 25vh;
   border-radius: 15px;
box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.store-buttons{
    margin: 1vmin;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bandcamp-embed{
  border: 0;
  width: 350px;
  height: 470px;
  margin: 4px 4px 4px 4px;
}

.soundcloud-embed{
  width: 85%;
  height: 166px;
  margin: 4px 4px 4px 4px;
}

.music-subhead{
  margin: 4vmin 3vmin;
  font-size: 6vh;
  color: #D7CAF5;

}

.project-summary{
    color: #EEE
}

/* Desktop View for Project Cards*/
@media (min-width: 1400px) {
    

   .project-card-grid{
    display:flex;
    flex-wrap: wrap;
    flex: row;
    transform: translate(10vw, 0%);
    margin: 5vmin 1vmin;
    width: 80%;
}
   .project-card{
        background-color: white;
        border-radius: 10px;
        width: 50vmin;
        height: 15vh;
        position: relative;
        margin-left: 100px;


    }

    .project-summary{
       font-size: 1.5vw;
       color: #BBB;
       transform: translate(0%, 35%);
        }
}


/* MOBILE View for Project Cards*/
@media (max-width: 1400px) {
    

   .project-card-grid{
    transform: translate(10vw, 0%);
    margin: 5.5vmin 1vmin;
    width: 80%;
}
}